/* Project styles
========================================================================== */

.title {
  padding-left: 6rem;
  margin-bottom: 4rem;
  width: 590px;
  max-width: 100%;
  font-size: 2.1rem;
  line-height: 1.6;
  font-family: $font-heading-regular;
}

.projects {
  margin: 0 auto;
  margin-bottom: 8rem;
  .projects-list {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 4rem;
    grid-gap: 4rem;
    @include respond-to("tablet") {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    @include respond-to("mobile-large") {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    @include respond-to("mobile-small") {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  .project-link {
    border-radius: $border-radius;
    background: $white;
    align-self: stretch;
    border: 2px solid darken(#f1f3f5, 2);
    border-top: 4px solid $grey;
    border-radius: $border-radius;
    transition: 0.2s all ease-out;
    position: relative;
    top: 0;
    &:hover,
    &:focus {
      border: 2px solid darken(#f1f3f5, 7);
      border-top: 4px solid $black;
      background: lighten($color-highlight, 23);
      top: -0.4rem;
      transition: 0.2s all ease-out;
    }
    &:hover .info,
    &:focus .info {
      border-top: 2px solid darken(#f1f3f5, 7);
      background: lighten($color-highlight, 23);
      transition: 0.2s all ease-out;
    }
    &:hover .info h2,
    &:focus .info h2 {
      color: $color-main;
      transition: 0.4s all ease-out;
    }
    &:active .info h2 {
      color: $color-secondary;
      transition: 0.2s all ease-out;
    }
  }
  .project {
    display: flex;
    flex-direction: column-reverse;
    .info {
      background: $white;
      border-top: 2px solid darken(#f1f3f5, 2);
      padding: 3rem;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      transition: 0.2s all ease-out;
      @include respond-to("mobile-large") {
        padding: 3.5rem 5%;
      }
    }
    h2 {
      color: $grey;
      font-size: 2.56rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}
