/* Blog Post styles
========================================================================== */
.post-info {
  padding-bottom: 6rem;
  h1 {
    font-size: 8.9rem;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-mono;
    font-size: 1.1rem;
  }
  img {
    width: 7rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  div {
    font-family: $font-mono;
    text-align: center;
  }
}
.post {
  font-family: $font-body;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 69ch)
    minmax(1.2rem, 1fr);
  & > * {
    grid-column: 2;
    margin-bottom: 4rem;
  }
  & > p {
    font-size: 2.1rem;
    line-height: 1.666;
    letter-spacing: 0.06rem;
  }
  & > blockquote {
    grid-column: 1 / 4;
    margin-bottom: 4rem;
    font-style: italic;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: $border-radius;
    p {
      padding: 6rem;
      font-family: $font-mono-bold;
      font-size: 2.56rem;
      line-height: 1.6;
      max-width: 69ch;
      margin: 0 auto;
    }
  }
  & > img {
    grid-column: 1 / 4;
    border: 14px solid $black;
  }
  a {
    color: $black;
    font-family: $font-body-medium;
    transition: 0.1s color linear;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: calc(100% - 1.7rem);
      background: #f7e4e8;
      // background: lighten($color-main, 46);
      width: 100%;
      height: 1rem;
      z-index: -1;
      &:focus,
      &:hover {
        background: red;
      }
    }
    &:hover,
    &:focus {
      color: darken($color-main, 21);
      transition: 0.1s color linear;
    }
  }
  ul {
    padding-left: 4rem;
    list-style-type: disc;
  }
  ol {
    padding-left: 4rem;
    list-style-type: decimal;
  }
  code {
    background: darken(#f1f3f5, 1);
    background: lighten($color-accent, 27);
    padding: 0.2rem 0.6rem;
    border: 0.1rem solid lighten($black, 60);
    border: 0.1rem solid $color-accent;
    border-radius: $border-radius;
    font-family: mono;
  }
  pre {
    padding: 2rem;
    line-height: 1.4;
    overflow-x: scroll;
    font-family: $font-mono !important;
    border-radius: $border-radius;
    border: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    font-size: 2.1rem;
  }
}
.navigate {
  margin: 0 auto;
  text-align: center;
  font-family: $font-mono-bold;
  text-transform: uppercase;
  li a {
    display: inline-block;
    width: 100%;
    border: 1px solid $black;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-radius: $border-radius;
    padding: 1rem 2rem;
    &:hover,
    &:focus {
      background: #f6f8fa;
      background: lighten($color-highlight, 40);
      border: 1px solid rgba($color: #000000, $alpha: 1);
    }
  }
  li:first-child a {
    margin-bottom: 2rem;
  }
}
