/* Blog Post styles
========================================================================== */
.post-info {
  padding-bottom: 6rem;
  @include respond-to("mobile-large") {
    padding-bottom: 2rem;
  }
  h1 {
    font-size: 8.9rem;
    padding: 0 6rem;
    @include respond-to("mobile-large") {
      font-size: 4.3rem;
      padding: 2rem 2rem 0 2rem;
    }
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-mono;
    font-size: 1.1rem;
  }
  img {
    width: 7rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1rem;
    @include respond-to("mobile-large") {
      padding-top: 3rem;
    }
  }
  div {
    font-family: $font-mono;
    text-align: center;
  }
}

.post {
  font-family: $font-body;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 69ch)
    minmax(1.2rem, 1fr);
  @include respond-to("mobile-large") {
    grid-template-columns: 1fr;
  }
  & > * {
    grid-column: 2;
    margin-bottom: 4rem;
  }
  & > p {
    font-size: 1.9rem;
    line-height: 1.6;
    letter-spacing: 0.06rem;
    @include respond-to("mobile-large") {
      font-size: 1.6rem;
    }
  }
  & > blockquote {
    margin: 0;
    margin-bottom: 4rem;
    font-style: italic;
    border-radius: $border-radius;
    border-left: 0.6rem solid $black;
    p {
      color: $silver;
      padding-left: 2rem;
      font-family: $font-mono-bold;
      font-size: 1.9rem;
      line-height: 1.5;
      @include respond-to("mobile-large") {
        font-size: 1.6rem;
      }
    }
  }
  & > img {
    grid-column: 1 / 4;
    border: 14px solid $black;
  }
  a {
    color: $color-link;
    font-family: $font-body-medium;
    transition: 0.1s color linear;
    &:hover,
    &:focus {
      color: darken($color-link, 14);
    }
  }
  ul {
    padding-left: 4rem;
    list-style-type: disc;
    @include respond-to("mobile-large") {
      padding-left: 3rem;
    }
    li {
      font-size: 1.9rem;
      line-height: 1.6;
      @include respond-to("mobile-large") {
        font-size: 1.6rem;
      }
    }
  }
  ol {
    padding-left: 4rem;
    list-style-type: decimal;
    @include respond-to("mobile-large") {
      padding-left: 3rem;
    }
    li {
      font-size: 1.9rem;
      line-height: 1.6;
      @include respond-to("mobile-large") {
        font-size: 1.6rem;
      }
    }
  }
  code {
    grid-column: 1 / 4 !important;
    font-family: $font-mono-bold;
    background: $color-main-hover;
    border: 1px dashed darken($color-main-hover, 30);
    border-radius: $border-radius;
    padding: 0.5rem 0.7rem;
    color: $color-secondary;
    color: $black;
    @include respond-to("mobile-large") {
      padding: 0.3rem 0.6rem;
    }
  }
  pre {
    font-size: 1.9rem;
    line-height: 1.4;
    padding: 2rem;
    overflow-x: scroll;
    font-family: $font-mono !important;
    border-radius: $border-radius;
    border: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    @include respond-to("mobile-large") {
      font-size: 1.6rem;
    }
  }
}

ul.navigate {
  grid-column: 1 / 4;
  list-style-type: none !important;
  margin-bottom: 0;
  border: 2px solid darken(#f1f3f5, 2);
  border-bottom: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  @include respond-to("mobile-large") {
    flex-direction: column;
    text-align: center;
  }
  li {
    @include respond-to("mobile-large") {
      align-self: stretch;
    }
  }
  li a {
    font-family: $font-mono-bold;
    display: inline-block;
    width: 100%;
    border-radius: $border-radius;
    @include respond-to("mobile-large") {
      border-radius: 0;
    }
    &:hover,
    &:focus {
      background: #f1f3f5;
    }
    span {
      color: $color-secondary;
    }
  }
  li:first-child a {
    padding: 0 2rem 0 0;
    @include respond-to("mobile-large") {
      margin-bottom: 2rem;
      border-bottom: 2px dashed $border-hover-color;
      padding: 0 0 2rem 0;
    }
  }
}
