.newsletter {
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  &:hover {
    border-top: 2px solid $border-hover-color;
    border-bottom: 2px solid $border-hover-color;
  }
  .newsletter-container {
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    padding: 6rem 6rem 4rem 6rem;
    display: flex;
    justify-content: center;
    @include respond-to('tablet-large') {
      flex-direction: column;
      align-items: flex-start;
    }
    @include respond-to('mobile-large') {
      padding: 4rem 4rem 0 4rem;
      padding: 3.1rem 5% 0 5%;
    }
    &:hover {
      border-left: 2px solid $border-hover-color;
      border-right: 2px solid $border-hover-color;
    }
  }
  .newsletter-container .info {
    width: 400px;
    max-width: 100%;
    margin-right: 4rem;
  }
  .title {
    font-size: 5.4rem;
    font-family: $font-heading;
    line-height: 1.1;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    @include respond-to('mobile-large') {
      font-size: 4.3rem;
    }
  }
}

.form {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  @include respond-to('tablet-large') {
    flex-direction: column;
    justify-content: flex-start;
  }
  @include respond-to('tablet-large') {
    padding-top: 3rem;
  }
  label {
    position: relative;
  }
  input {
    width: 400px;
    max-width: 100%;
    height: 5.2rem;
    padding: 1.2rem 1.8rem;
    padding-top: 1.6rem;
    margin-right: 1rem;
    outline: none;
    border-radius: $border-radius;
    border: 2px dashed $border-hover-color;
    background: $color-main-hover;
    &::placeholder {
      color: $grey;
    }
    &:hover {
      border: 2px dashed $grey;
    }
    &:focus {
      border: 2px dashed $black;
    }
    &:active {
      border: 2px dashed $black;
    }
    @include respond-to('tablet-large') {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  button {
    height: 5.2rem;
    font-family: $font-body-medium;
    padding: 0 1.8rem;
    background: $color-main-hover;
    border-radius: $border-radius;
    border: 2px dashed $border-hover-color;
    cursor: pointer;
    &:hover,
    &:focus {
      border: 2px dashed $grey;
      outline: none;
    }
    &:active {
      border: 2px dashed $black;
      background: lighten(#006e51, 69);
      background: #d1e9d7;
      outline: none;
    }
  }
}
