/* Global styles
========================================================================== */

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::selection {
  background: lighten($color-highlight, 21);
}

html {
  box-sizing: border-box;
}

body {
  background: #fff;
  // background: #fcfcfc;
  // background: #f1f3f5;
  border-bottom: none;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(254, 249, 247, 1);
}

body::-webkit-scrollbar-thumb {
  background: $color-main;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.inner-wrapper {
  top: 0;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: $border-radius;
  @include respond-to("desktop-15") {
    padding: 0 5%;
  }
  @include respond-to("tablet-large") {
    padding: 0 5%;
  }
  @include respond-to("mobile-large") {
    padding: 0 5%;
  }
  @include respond-to("mobile-small") {
    padding: 0 2rem;
  }
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: darken(#465165, 16);
}

h1 {
  font-family: $font-heading;
  font-size: 8.3rem;
  font-size: 5.1rem;
  text-align: center;
  color: $black;
  @include respond-to("mobile-large") {
    font-size: 3.1rem;
  }
}
h2 {
  font-family: $font-body-bold;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 0;
}
h3 {
  font-family: $font-body-bold;
  font-size: 2.56rem;
  color: $grey;
  line-height: 1.2;
  letter-spacing: 0;
}
h4 {
  font-family: $font-body-bold;
  font-size: 2.24rem;
  color: $grey;
}
h5 {
  font-size: 1.92rem;
  font-family: $font-body-bold;
}
h6 {
  font-family: $font-body-bold;
  font-size: 1.6rem;
  color: $grey;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
input,
button,
textarea,
li,
::placeholder {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.101rem;
  color: $black;
}

a {
  text-decoration: none;
  color: $grey;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

img {
  width: 100%;
  display: block;
}

.dots {
  font-family: $font-mono;
}

.quote {
  padding: 14rem 0;
  padding-bottom: 8rem;
  line-height: 1.6;
  font-family: $font-body;
  text-align: center;
  width: 56ch;
  max-width: 100%;
  margin: 0 auto;
  @include respond-to("mobile-large") {
    padding: 10rem 0.1rem 2rem 4rem;
    margin: 0;
    width: 100%;
    font-size: 1.1rem;
    text-align: right;
  }
  span {
    color: $black;
    font-family: $font-mono-bold;
  }
}

.page-info {
  padding-left: 6rem;
  margin-bottom: 4rem;
  width: 630px;
  max-width: 100%;
  @include respond-to("tablet") {
    padding-left: 0;
  }
  h2 {
    width: 560px;
    max-width: 100%;
    font-size: 5.4rem;
    font-family: $font-heading;
    line-height: 1.1;
    text-align: left;
    margin: 0;
    margin-bottom: 1.5rem;
    @include respond-to("tablet") {
      width: 100%;
      padding-right: 2rem;
      font-size: 4.3rem;
    }
    @include respond-to("mobile-large") {
      font-size: 4.3rem;
      margin-bottom: 0.5rem;
    }
    span {
      color: $color-link;
    }
  }
  p {
    width: 590px;
    max-width: 100%;
    font-size: 2.1rem;
    line-height: 1.6;
    font-family: $font-heading-regular;
    margin-left: 0.4rem;
    @include respond-to("tablet") {
      font-size: 1.6rem;
      padding-right: 2rem;
      line-height: 1.5;
    }
  }
}
