/* Global styles
========================================================================== */
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::selection {
  background: $color-accent;
  color: $white;
}

html {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(254, 249, 247, 1);
}

body::-webkit-scrollbar-thumb {
  background: $color-accent;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.inner-wrapper {
  top: 0;
  max-width: 1400px;
  margin: 0 auto;
  @include respond-to("desktop-15") {
    padding: 0 5%;
  }
  @include respond-to("tablet-large") {
    padding: 0 5%;
  }
  @include respond-to("mobile-large") {
    padding: 0 4rem;
  }
  @include respond-to("mobile-small") {
    padding: 0 2rem;
  }
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: darken(#465165, 16);
}

h1 {
  font-family: $font-heading;
  font-size: 8.3rem;
  font-size: 5.1rem;
  text-align: center;
  color: $black;
  // -webkit-text-stroke: 1px black;
  @include respond-to("mobile-large") {
    font-size: 3.1rem;
  }
}
h2 {
  font-family: $font-body-bold;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 0;
}
h3 {
  font-family: $font-body-bold;
  font-size: 2.56rem;
  color: $grey;
  line-height: 1.2;
  letter-spacing: 0;
}
h4 {
  font-family: $font-body-bold;
  font-size: 2.24rem;
  color: $grey;
}
h5 {
  font-size: 1.92rem;
  font-family: $font-body-bold;
}
h6 {
  font-family: $font-body-bold;
  font-size: 1.6rem;
  color: $grey;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
input,
textarea,
li,
::placeholder {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.101rem;
  // color: rgba(33, 43, 53, 1);
  color: $black;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $grey;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $color-accent;
  }
}

img {
  width: 100%;
  display: block;
}

.dots {
  font-family: $font-mono;
}

.description {
  padding-top: 4rem;
  padding-bottom: 8rem;
  font-family: $font-mono;
  text-align: center;
  width: 56ch;
  max-width: 100%;
  margin: 0 auto;
}
