/* Global variables
========================================================================== */

$font-heading: "Miller Banner Light", serif;
$font-heading-regular: "Miller Banner Book", serif;
$font-heading-bold: "Miller Banner Semibold", serif;
$font-body-medium: "Hind SemiBold", -apple-system, sans-serif;
$font-body-bold: "Hind Bold", -apple-system, sans-serif;
$font-body: "Hind Regular", -apple-system, sans-serif;
$font-mono: "Magda", monospace;
$font-mono-bold: "Magda Bold", monospace;

$border-radius: 6px;
$border-color: darken(#f1f3f5, 2);
$border-hover-color: darken(#f1f3f5, 7);
$border-width: 2px;

$transition: 0.4s all ease-out;

/* Colors _____________________________*/
$white: #fff;
$white-soft: #f9f9f9;
$true-black: #000000;
$black: rgba(0, 14, 27, 1);
$black: #021627;
$black: rgba(33, 43, 53, 1);
$black-soft: rgba(33, 43, 53, 1);
$grey: #495057;
$grey: darken(#868e96, 14);
$light-blue: #ebf5fe;
$silver: #888888;
$blue: #1650b5;
$winter-blue: #4a6991;
$green: #3f7b62;
$green-2: #9dbf82;
$light-green: #b3dabd;
$purple: #5c60a0;
$pink: #b66aa3;
$light-pink: #dab3d0;
$light-pink: #e9d1e3;
$red: #b83a31;
$yellow: #d8af47;
$brown: #b09483;

/* Main Colors _____________________________*/
$color-main: #4a6991;
$color-main: #1650b5;
$color-main-hover: #f2f4f8;
$color-secondary: #b66aa3;
$color-accent: #e2f30c;
$color-highlight: #81c1fc;

/* Main Changes _____________________________*/
$color-link: $color-main;
