/* Blog page styles
========================================================================== */

div.posts-container {
  margin-bottom: 10rem;
}
ul.post-container {
  position: relative;
}
li.post {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  padding: 1rem;
  @include respond-to("mobile-large") {
    border: none;
    padding: 0;
  }
  &:hover,
  &:focus {
    border: 2px solid $border-hover-color;
  }
  &:active {
    border: 2px dashed $black;
    @include respond-to("mobile-large") {
      border: none;
      padding: 0;
    }
  }
  a.post-link {
    color: $grey;
    font-size: 2.56rem;
    padding: 1.5rem;
    padding-top: 2rem;
    font-family: $font-body-bold;
    letter-spacing: 0rem;
    line-height: 1.4;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: $color-main-hover;
    border-radius: $border-radius;
    @include respond-to("mobile-large") {
      flex-direction: column-reverse;
      border: none;
      border-left: 2px solid $border-color;
      text-align: left;
      letter-spacing: 0.101rem;
      padding: 1rem;
      padding-right: 2rem;
      font-size: 1.6rem;
    }
    &:hover,
    &:focus {
      color: $color-secondary;
      background: darken($color-main-hover, 2);
      outline: none;
      @include respond-to("mobile-large") {
        background: none;
      }
    }
    &:active {
      color: $color-secondary;
    }
  }
  small {
    color: $black;
    font-size: 1.1rem;
    font-family: $font-mono-bold;
  }
}
.post:not(:last-child) {
  margin-bottom: 4rem;
  @include respond-to("mobile-large") {
    margin-bottom: 2rem;
  }
}
