/* Blog page styles
========================================================================== */

div.posts-container {
  margin-bottom: 10rem;
}
ul.post-container {
  position: relative;
}
li.post {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  a.post-link {
    padding: 2.1rem 2rem;
    font-size: 2.56rem;
    font-family: $font-body-bold;
    letter-spacing: 0rem;
    line-height: 1.4;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: $grey;
    border: 2px solid darken(#f1f3f5, 2);
    border-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    // background: -webkit-linear-gradient($blue, $grey);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
      background: lighten($color-main, 47);
      border: 2px solid #5c60a0;
      outline: none;
      @include respond-to("mobile-large") {
        border: none;
      }
    }
    @include respond-to("mobile-large") {
      flex-direction: column-reverse;
      border: none;
      border-left: 2px solid darken(#f1f3f5, 2);
      text-align: left;
      letter-spacing: 0.101rem;
      padding: 1rem;
      padding-right: 2rem;
      font-size: 1.6rem;
    }
  }
  small {
    color: $black;
    font-size: 1.1rem;
    font-family: $font-mono-bold;
  }
}
.post:not(:last-child) {
  margin-bottom: 4rem;
  @include respond-to("mobile-large") {
    margin-bottom: 2rem;
  }
}
