/* Blog styles
========================================================================== */
.posts-container {
  margin-bottom: 10rem;
}
.post {
  width: calc(69ch + 11rem);
  max-width: 100%;
  margin: 0 auto;
  a.post-link {
    font-size: 1.9rem;
    font-family: $font-mono;
    display: flex;
    flex-direction: column;
    letter-spacing: 0rem;
    padding: 1.4rem 1.6rem;
    padding: 2rem;
    padding-bottom: 1.8rem;
    border: 1px solid #f1f3f5;
    background: lighten(#f1f3f5, 2);
    border: 1px solid darken(#f1f3f5, 6.9);
    border-radius: $border-radius;
    color: $black;
    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
      @include respond-to("mobile-large") {
        border: none;
      }
    }
    @include respond-to("mobile-large") {
      flex-direction: column-reverse;
      border: none;
      background: none;
      font-family: $font-body-bold;
      padding: 0;
    }
    small {
      color: $black;
    }
  }
  small {
    font-family: $font-mono;
    font-size: 1.1rem;
  }
}
.post:not(:last-child) {
  margin-bottom: 2rem;
}
