.tris {
  font-family: $font-heading;
  text-align: center;
  position: fixed;
  bottom: 0rem;
  left: 0;
  line-height: 0.8;
  font-size: 17vw;
  // color: lighten($grey, 50);
}
.tris-info {
  text-align: center;
  font-family: $font-mono;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
