/* Index / Home page styles
========================================================================== */

.home {
  padding-left: 6rem;
  background: url('../assets/images/home/birds.svg');
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  @include respond-to('tablet-large') {
    padding-left: 0;
  }
  .info {
    padding-top: 5rem;
    background: rgba($white, 0.7);
    h1.headline {
      width: 560px;
      max-width: 100%;
      font-size: 5.4rem;
      font-family: $font-heading;
      line-height: 1.1;
      text-align: left;
      margin: 0;
      margin-bottom: 1.5rem;
      @include respond-to('tablet') {
        width: 100%;
        padding-right: 2rem;
      }
      @include respond-to('mobile-large') {
        width: 100%;
        font-size: 4.3rem;
        padding-right: 2rem;
        margin-bottom: 1.5rem;
      }
      span {
        color: $color-link;
      }
    }
    p.description {
      width: 590px;
      max-width: 100%;
      font-size: 2.1rem;
      line-height: 1.6;
      margin-bottom: 10rem;
      font-family: $font-heading-regular;
      @include respond-to('tablet') {
        width: 100%;
        line-height: 1.5;
        font-size: 1.6rem;
      }
      span {
        color: $grey;
      }
      span:nth-of-type(1) {
        // color: $purple;
        &:hover,
        &:focus {
          color: $purple;
          cursor: url('../assets/images/home/window-pwa.svg'), auto;
        }
      }
      span:nth-of-type(2) {
        // color: $pink;
        &:hover,
        &:focus {
          color: $pink;
          cursor: url('../assets/images/home/window-design.svg'), auto;
        }
      }
      span:nth-of-type(3) {
        // color: $green;
        &:hover,
        &:focus {
          color: $green;
          cursor: url('../assets/images/home/shopify.svg'), auto;
        }
      }
      span:nth-of-type(4) {
        // color: $color-main;
        &:hover,
        &:focus {
          color: $color-main;
          cursor: url('../assets/images/home/piano.svg'), auto;
        }
      }
      a {
        font-weight: 900;
        color: $black;
        font-family: $font-heading-bold;
        &:hover,
        &:focus {
          color: $blue;
        }
      }
    }
  }

  .portrait {
    margin: 16rem 0 0 6rem;
    @include respond-to('tablet-large') {
      display: none;
    }
    img {
      margin: 0 auto;
      width: calc(666px - 69px);
      max-width: 100%;
      border: 6px solid $black;
      border-radius: $border-radius;
    }
  }
}

// ADD TO ABOUT ME PAGE?????????
.title {
  font-family: $font-heading;
  color: $color-main;
  color: rgba($color: #000000, $alpha: 0.1);
  text-align: center;
  position: fixed;
  bottom: 0rem;
  left: 0;
  line-height: 0.8;
  font-size: 17vw;
  z-index: -1;
  display: none;
}
