/* Project styles
========================================================================== */

.title {
  font-size: 8.9rem;
  position: relative;
  top: -5.5rem;
}
.projects {
  width: 70%;
  margin: 0 auto;
  .projects-list {
    border-radius: $border-radius;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .project-link {
    background: $white;
    align-self: stretch;
    border: 2px solid rgba(0, 0, 0, 0.14);
    border: 2px solid rgba(0, 0, 0, 0.14);
    margin-bottom: 6rem;
    &:hover,
    &:focus {
      border: 2px solid rgba(0, 0, 0, 1);
      border: 2px solid rgba(0, 0, 0, 1);
    }
    &:hover .info,
    &:focus .info {
      border-top: 2px solid rgba(0, 0, 0, 1);
    }
    &:hover .info h2,
    &:focus .info h2 {
      color: $color-main;
    }
    &:active .info h2 {
      color: $color-accent;
    }
  }
  .project {
    display: flex;
    flex-direction: column-reverse;
    border-radius: $border-radius;
    width: 469px;
    .info {
      background: $white;
      border-top: 2px solid rgba(0, 0, 0, 0.14);
      padding: 3rem;
    }
    h2 {
      font-size: 2.56rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}
