.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10rem;
  h1 {
    width: 400px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 8rem;
      margin-left: 2rem;
      margin-top: -0.5rem;
    }
  }
  p {
    width: 400px;
  }
  a {
    // width: 400px;
    // text-align: left;
  }
}
