/* Header styles
========================================================================== */

.active {
  color: $black;
  font-family: $font-mono-bold;
}

header {
  background: $white;
  position: relative;
  .title {
    @include centered;
    &:active span {
      color: $color-accent;
    }
    span {
      color: $color-main;
    }
  }
  .title h1 {
    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

.nav {
  padding: 6rem 2rem;
  font-family: $font-mono;
  border-left: 1px solid #f1f3f5;
  border-right: 1px solid #f1f3f5;
  display: flex;
  justify-content: space-between;
  @include respond-to("mobile-large") {
    padding: 6rem;
    padding-bottom: 4rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .social-links {
    text-align: right;
    align-self: center;
  }
  .social-links a:not(:last-child) {
    margin-right: 1.5rem;
  }
  a:hover,
  a:focus {
    font-family: $font-mono-bold;
    color: $black;
  }
}
