.nav {
  padding: 4rem;
  display: flex;
  font-family: $font-mono;
  flex-direction: column;
  align-items: center;
  a {
    // text-transform: uppercase;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  a:not(:last-child) {
    margin-right: 2rem;
  }
}
