.footer {
  text-align: center;
  font-family: $font-mono;
  background: $white;
  padding: 2.8rem 0;
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .copyright {
      padding: 0 1.7rem;
    }
    .footer-links {
      padding: 0 1.7rem;
      display: flex;
      justify-content: flex-end;
      li:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  .blm {
    padding: 0.5rem 1rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: $white;
    background: $black;
    border: 1px solid $black;
    border-radius: $border-radius;
    &:hover,
    &:focus {
      color: $black;
      background: $white;
      border: 1px solid $black;
    }
  }
}
